DATABASE_URL="postgresql://<user>:<pass>@localhost:5432/liveselling_system"
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
BETTER_AUTH_SECRET=

APP_URL=https:// # i used ngrok url here
FRONTEND_URL=http://localhost:5173

SMTP_HOST="smtp.gmail.com"
SMTP_PASS=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_FROM=

FB_WEBHOOK_SECRET_TOKEN=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

JWT_SECRET_TOKEN=